<div >
      <mat-toolbar color="" >
          <mat-toolbar-row>
              <span>Aye Solution</span>

              <span class="example-spacer"></span>
              <button mat-button (click)="navigateToLogin()" >Login</button>
              <button mat-button>About</button>
              <button mat-button>Contact</button>
          </mat-toolbar-row>
      </mat-toolbar>

      <div class="one-statement">
          <br><br><br><br><br><br><br><br><br><br><br>
          <div class="tag-line">

              <h1>Complex is a methphor for simple.</h1>

          </div>
      </div>   
      <div class="other-statement">
              <div class="tag-line">
  
                  <h1>Simple is a methphor for complex.</h1>
  
              </div>
              <br><br><br><br><br><br><br><br>
     
            </div>  
     </div>        